<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Test Application{% endblock %}</title>
        
        <link href="{{ asset('bundles/acmetest/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/acmetest/css/styles.css') }}" rel="stylesheet" />
        <script src="{{ asset('bundles/acmetest/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="header" style="text-align: center;">
                <h2>Admin Module</h2>
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
            <hr />
            <div class="row" style="margin-top:10px;">
                <div class="col-lg-3">
                    <div class="well sidebar-nav">  
                        <ul class="nav nav-list">  
                          <li class="nav-header">Conditions</li>  
                          <li><a href="{{ path('cond') }}">List Conditions</a></li>  
                          <li><a href="{{ path('cond_new') }}">Add Condition</a></li>  
                          <li class="nav-header">Symptoms</li>
                          <li><a href="{{ path('symptom') }}">List Symptoms</a></li>
                          <li><a href="{{ path('symptom_new') }}">Add Symptom</a></li>
                        </ul>  
                    </div><!--/.well -->  
                </div>
                <div class="col-lg-9">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>